@import "../../../../node_modules/ng2-datetime/src/vendor/bootstrap-datepicker/bootstrap-datepicker3.min";
@import "../../../../node_modules/ng2-datetime/src/vendor/bootstrap-timepicker/bootstrap-timepicker.min";
@import "../../../scss/variables";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

/*-----------------------------*/
/*     AMSTERDAM SASS FILES    */
/*-----------------------------*/
@import "../../../scss/generals/ams-variables";
@import "../../../scss/generals/ams-typography";
@import "../../../scss/generals/ams-generals";
@import "../../../scss/generals/ams-icons";
@import "../../../scss/generals/ams-positions";
@import "../../../scss/generals/ams-headings";
@import "../../../scss/generals/ams-simple-listing";
@import "../../../scss/generals/ams-resultsbar";
@import "../../../scss/generals/ams-tables";
@import "../../../scss/generals/ams-buttons";
@import "../../../scss/generals/ams-forms";
@import "../../../scss/generals/ams-alerts";

#danger-alert-internal-amenity-edit {
    margin-top: 7px;
    width: 115%;
    margin-left: -4rem;
}

#success-alert-internal-amenity-edit {
    margin-top: 7px;
    width: 115%;
    margin-left: -4rem;
}
/**/
////////////////////////////////////////////////////
/// Styles Search for Internal Data(Simple List) ///
.simple-listing{
    .results-bar-wrapper{
        .trash {
            text-align: right;
            font-size: 27px;
            color: $grey;
            margin-right: -10px;
            i{
                display: inline-block;
                cursor: pointer;
                &:last-child{
                    margin-right: 10px;
                }
                &:hover{
                    color: $btn-red;
                }
            }
            .filtrable-btn{
                margin-left: 10px;
                /*margin-right: 55px;*/
            }
            .default-icon{
                margin-left: 10px;
            }
        }
        /*.btn-blue-lg{
            width: 215px;
        }
        .btn-blue-md {
            width: 150px;
        }*/
        .btn-amenities{
            @extend .btn-blue-md;
            width: 140p;
        }
        .btn-chains{
            @extend .btn-blue-md;
            width: 125px;
        }
        .btn-categories{
            @extend .btn-blue-md;
            width: 190px;
        }
        .btn-accessibilities{
            @extend .btn-blue-lg;
            width: 165px;
        }
        .btn-attractions{
            @extend .btn-blue-lg;
            width: 220px;
        }
        .btn-classifications{
            @extend .btn-blue-lg;
            width: 190px;
        }
    }
    .new-amenity{
        background-color: #fff;
        margin-bottom: 35px;
        padding: 35px 0;
        .panel-heading{
            background-color: #eee;
            border-radius: 3px;
            padding: 13.5px 20px;
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;
            h4{
                margin-bottom: 0px;
                .panel-link{
                    color: #474747;
                    &:hover,
                    &:focus{
                        color: inherit;
                        text-decoration: none;
                    }
                    &::before{
                        display: inline-block;
                        content: "";
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 0;
                        height: 0;
                        border-top: 5px solid #474747;
                        border-left: 5px solid rgba(0,0,0,0);
                        border-right: 5px solid rgba(0,0,0,0);
                        transition: all .3s linear;
                    }
                    &::after{
                        display: none;
                        transition: all .3s linear;
                    }
                }
                /*.collapsed{
                    &::before{
                        display: none;
                        transition: all .3s linear;
                    }
                    &::after{
                        display: inline-block;
                        content: "";
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 0;
                        height: 0;
                        border-bottom: 5px solid #474747;
                        border-left: 5px solid rgba(0,0,0,0);
                        border-right: 5px solid rgba(0,0,0,0);
                        transition: all .3s linear;
                    }
                }*/
            }
        }
        .collapsed{
            h4{
                .panel-link{
                    &::before{
                        display: none;
                        transition: all .3s linear;
                    }
                    &::after{
                        display: inline-block;
                        content: "";
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 0;
                        height: 0;
                        border-bottom: 5px solid #474747;
                        border-left: 5px solid rgba(0,0,0,0);
                        border-right: 5px solid rgba(0,0,0,0);
                        transition: all .3s linear;
                    }
                }
            }
        }
        .panel-body{
            margin-bottom: 10px;
            border: 1px solid $grey;
            padding: 25px 40px;
            .form-group{
                textarea{
                    height: 120px;
                }
                &:first-child{
                    margin-bottom: 20px;
                }
            }
        }
        .save-or-cancel{
            margin-top: 20px;
            padding: 20px 15px;
            .dropdown{
                button{
                    &:focus{
                        border: none;
                    }
                }
                .dropdown-menu{
                    left: 10px;
                    width: 165px;
                }
            }
        }
    }
    .table{
        td{
            padding: 0.62rem 0.75rem;
            &:first-child{
                width: 2%;
            }
        }
        .amenity-name-th{
            width: 80%;
        }
        .is-filtrable-th{
            width: 15%;
        }
        .is-filtrable-td{
            padding: 0px 0.75rem !important;
        }
        .status-th{
            width: 2%;
        }
        .delete-row{
            i{
                font-size: 27px;
                color: $disabled;
                margin-left: 0px;
                &:hover{
                    color: $btn-red;
                }
            }
        }
    }
    .filtrable-btn{
        button{
            font-size: 12px;
            &:first-child{
                padding: 2.4px 11.5px;
            }
            &:last-child{
                padding: 2.5px 12.5px;
            }
            &:hover{
                background-color: #fff;
                z-index: 0;
            }
        }
        .yes-filtrable{
            background-color: #E7403F;
            border: 1px solid #E7403F;
            color: #fff;
            font-weight: bold;
            &:hover{
                background-color: #E7403F;
            }
        }
        .no-filtrable{
            background-color: #384F66;
            border: 1px solid #384F66;
            color: #fff;
            font-weight: bold;
            &:hover{
                background-color: #384F66;
            }
        }
    }
}

/* ===================================== Media Queries ====================================== */


@media only screen and (max-width: 1279px) {
    div#icon-minus {
        position: relative;
        left: -20px;
        top: 11px;
        .minus-icon{
            cursor: pointer;
            font-size: 19px;
            color: #eb5155;
        }
    }
    div#icon-check {
        position: relative;
        left: -20px;
        top: 11px;
        .check-icon{
            cursor: pointer;
            font-size: 19px;
            color: #eb5155;
        }
    }
    div#icon-empty {
        position: relative;
        left: -20px;
        top: 11px;
        .empty-icon{
            cursor: pointer;
            font-size: 22px;
            color: #ddd;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    div#icon-minus {
        position: relative;
        left: -20px;
        top: 11px;
        .minus-icon{
            cursor: pointer;
            font-size: 19px;
            color: #eb5155;
        }
    }
    div#icon-check {
        position: relative;
        left: -20px;
        top: 11px;
        .check-icon{
            cursor: pointer;
            font-size: 19px;
            color: #eb5155;
        }
    }
    div#icon-empty {
        position: relative;
        left: -20px;
        top: 11px;
        .empty-icon{
            cursor: pointer;
            font-size: 22px;
            color: #ddd;
        }
    }
}