//@import "../../../../node_modules/ng2-datetime/src/vendor/bootstrap-datepicker/bootstrap-datepicker3.min";
//@import "../../../../node_modules/ng2-datetime/src/vendor/bootstrap-timepicker/bootstrap-timepicker.min";
// @import "../../../scss/variables";
// @import "../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../node_modules/bootstrap/scss/mixins";

/*-----------------------------*/
/*     AMSTERDAM SASS FILES    */
/*-----------------------------*/
@import "../../../scss/generals/ams-variables";
@import "../../../scss/generals/ams-generals";
@import "../../../scss/generals/ams-positions";
@import "../../../scss/generals/ams-typography";

@import "../../../scss/generals/ams-icons";
@import "../../../scss/generals/ams-searchform-xs";
@import "../../../scss/generals/ams-resultsbar";
@import "../../../scss/generals/ams-tables";

@import "../../../scss/generals/ams-alerts";

/********** IMPORT MODAL FILTERS AGENCIES ***********/
//@import "../../customers/modalfilters/modal_filters";

.table td, .table th{
    padding: 0.75rem 0.35rem;
}

table{
    tr{
        &:hover{
            .ellipsis{
                color: $disabled;
                border-color: $disabled;
            }
            .folder-wrapper{
                i{
                    color: $disabled;
                }
            }
        }
    }
    .location-th{
        width: 7%;
    }
    th.checkbox-column{
        width: 45px;
    }
    .checkbox-column{
        padding: 0px .75rem !important;
        text-align: right;
        width: 28px;
    }
    .users{
        color: #4990E2;
    }
    .fixed-icon{
        cursor: pointer;
        padding: 0;
    }
    .short-td{
        padding: 0.75rem 0px;
    }
    td, th{
        font-size: 12px !important;
    }
    .agency-legalname-td{
        text-transform: capitalize
    }
    .agency-name-td{
        text-transform: uppercase;
    }
}

.hovered-folder-icon{
    color: $disabled;
}

.hovered-ellipsis-icon{
    color: $disabled;
    border-color: $disabled;
}

/******** ESTILOS DE LA NIÑITA DEL FRONT :P ********/

    .abc-checkbox label::before{   
        outline: none !important;
    }
    .abc-checkbox label::after{ 
        background-color: $btn-red !important;
        color: #FFF !important;
        outline: none !important;
        text-align: left;
        border-radius: 3px;
    }
    .check-results{
        padding: 0;
        margin: -5px 14px 0 13px;   
        float: left;
    }

    /* Styles checkBox iteration List Agencies 
   *********************************************/
   div#icon-minus.icon-minus{
    position: relative;
    left: -20px;
    top: 4px;
        .minus-icon{
            cursor: pointer;
            font-size: 19px;
            color: #eb5155;
        }
    }

   div#icon-check.icon-check{
    position: relative;
    left: -20px;
    top: 11px;
        .check-icon{
            cursor: pointer;
            font-size: 19px;
            color: #eb5155 !important;
            position: relative;
            /*top: -7px;*/
        }
    }

    div#icon-empty{
        position: relative;
        left: -20px;
        top: 3px;
        .empty-icon{
            cursor: pointer;
            font-size: 22px;
            color: #ddd;
        }
    }

    tr.color-agencies{
    background: #ffffff;
    height: 56.1px;
        td {
        vertical-align: middle;
        }
        i {
            cursor: pointer;
        }
    }

    .check-table-ag{
        top: -9px;
        padding-left: 19px;
    }
    .no-pad {
        padding-left: 0 !important;
    }

    p.select {
        position: absolute;
        top: 5px;
        text-transform: capitalize;
        font-weight: 400;
        letter-spacing: 0px;
        left: 62px;
    }

/************ PAGINATION ************/
.pager li > a, .pager li > span {
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
}
#prev-map, #next-map{
    width: 48px;
    padding-left: 0px;
    font-size: 12px; 
}
  
.cursor {
  cursor: pointer;
}
.active span {
    width: 29px;
    height: 29px;
    vertical-align: middle;
    font-size: 13px !important;
    padding-left: 9.5px !important;
}
.points a {    
    width: 29px;
    height: 30px;
    vertical-align: middle;
    font-size: 13px !important;
    padding-left: 8.7px !important;
  } 
span.original {
    font-size: 12px;    
}  