/*-----------------------------*/
/*           COLORS            */
/*-----------------------------*/
$blue: #2C3E50;
$lightblue: #39B5C7;
$grey: #9f9f9f;
$gray-default: #EEEEEE;
$lightgrey: #f9f9f9;
$green: #24B160;
$disabled: #DCDCDC;
$enabled: #E73337;
$btn-red: #EB5155;
$danger: #DE1a1f;
$warning: #fdbe27;
$info: #00a3cc;
$success: #24B160;

/*-----------------------------*/
/*           FONTS             */
/*-----------------------------*/
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;